#visor{
    width: 400px;
    height: 100px;
    background-color: gray;
    padding: 40px 15px ;
}

#numeros{
    width:360px;
    height:50px;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}