<div>
  <h1>Calculadora</h1>
  <app-visor [conta] = "conta"></app-visor>
  <div id="botoes">
      <app-linha>
        <app-botao [numero] = "'7'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'8'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'9'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'AC'" (click) = "restartar()"></app-botao>
        <app-botao [numero] = "'Dell'" (click) = "apagarValor()"></app-botao>
      </app-linha>
      <app-linha>
        <app-botao [numero] = "'4'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'5'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'6'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'('" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "')'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
      </app-linha>
      <app-linha>
        <app-botao [numero] = "'1'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'2'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'3'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'-'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'*'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
      </app-linha>
      <app-linha>
        <app-botao [numero] = "'0'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'.'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'='" (click) = "resultado()"></app-botao>
        <app-botao [numero] = "'+'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
        <app-botao [numero] = "'/'" (numeroConta) = "passarNumeroVisor($event)"></app-botao>
      </app-linha>
  </div>
</div>